.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.back {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
}

.footer {
    margin-top: auto;
    margin-bottom: 2rem;
}

.footer p {
    font-size: 14px;
    text-align: center;
    margin-top: 2rem;

}

.pageContainer {
    flex: 1;
}